:host {
  display: block;
  width: 100%;
}
nav{
  justify-content: space-between;
}
.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.2s ease-in-out;
  
    &:hover {
      color: var(--primary-color);
    }
}
  
.active-link {
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 2px;
}