<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="logo-link">
      <img src="/timeBank.png" alt="TimeBank Logo" class="logo">
      <span class="site-name">TimeBank</span>
    </a>
  </div>
  
  <div class="navbar-links">
    <a routerLink="/about" class="nav-link">About</a>
    <a routerLink="/cart" class="nav-link">Cart</a>
    <a routerLink="/personal-area" class="nav-link">Personal Area</a>
  </div>
  
  <div class="navbar-user">
    <ng-container *ngIf="!isLoggedIn; else loggedInUser">
      <a routerLink="/login" class="nav-link login-btn">Login</a>
      <a routerLink="/signup" class="nav-link signup-btn">Sign Up</a>
    </ng-container>
    
    <ng-template #loggedInUser>
      <span class="welcome-text">Hello {{ username }}</span>
      <button (click)="logout()" class="logout-btn">Log Out</button>
    </ng-template>
  </div>
</nav>
